### Maven template
target/

### Eclipse template
.metadata
bin/
tmp/
*.tmp
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### JetBrains template
.idea/
*.iml

*.log
